@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "aqua";
  default: false;
  prefersdark: false;
  color-scheme: "dark";

  --color-base-100: oklch(21% 0.034 264.665);
  --color-base-200: oklch(35% 0.144 278.697);
  --color-base-300: oklch(39% 0.195 277.366);
  --color-base-content: oklch(93% 0.034 272.788);
  --color-primary: oklch(54% 0.245 262.881);
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: oklch(57% 0.245 27.325);
  --color-secondary-content: oklch(97% 0.013 17.38);
  --color-accent: oklch(60% 0.118 184.704);
  --color-accent-content: oklch(98% 0.014 180.72);
  --color-neutral: oklch(51% 0.262 276.966);
  --color-neutral-content: oklch(96% 0.018 272.314);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.5rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}


@theme {
  --font-poppins: Poppins, sans-serif;
  /* 
  --color-primary: #0174e4;
  --color-primary-content: #e5f2ff;
  --color-primary-dark: #015ab1;
  --color-primary-light: #1a8efe;

  --color-secondary: #3801e4;
  --color-secondary-content: #ebe5ff;
  --color-secondary-dark: #2c01b1;
  --color-secondary-light: #511afe;

  --color-background: #181a1b;
  --color-foreground: #242628;
  --color-border: #3d4043;

  --color-copy: #fbfbfb;
  --color-copy-light: #d7d9db;
  --color-copy-lighter: #a1a6aa;

  --color-success: #01e401;
  --color-warning: #e4e401;
  --color-error: #e40101;
  --color-success-content: #000000;
  --color-warning-content: #000000;
  --color-error-content: #ffe5e5; */
}
